<main>
    <form (ngSubmit)="submitForm(authForm)" #authForm="ngForm">
      <mat-card>
  
        <mat-card-header>
          <h3>
            Create Account
          </h3>
        </mat-card-header>
  
        <mat-card-content>
          <section>
            <mat-form-field>
              <mat-label for="uname">
                Username (Unique):
              </mat-label>
              <input matInput type="text" id="uname" name="uname" ngModel>
            </mat-form-field>
          </section>
  
          <section>
            <mat-form-field>
              <mat-label for="pass">
                password:
              </mat-label>
              <input matInput type="password" id="pass" name="pass" ngModel>
            </mat-form-field>
          </section>
        </mat-card-content>
  
        <mat-card-actions>
          <button mat-raised-button color="accent">Create Account</button>
        </mat-card-actions>
  
      </mat-card>
    </form>
  </main>